[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/nestjs-microservices-npv1510/gateway
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/nestjs-microservices-npv1510/orders-microservice.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/nestjs-microservices-npv1510/product-microservice.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/nestjs-microservices-npv1510/payments-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/nestjs-microservices-npv1510/auth-ms.git
